<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../css/bootstrap.min.css">
     <link rel="stylesheet" href="../css/bootstrap.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link rel="stylesheet" href="css/index.css">
      <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/logo2.jpeg" type="image/x-icon">
    <title>Admin Panel</title>
</head>
<body id="pz">
          
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-12">
                      <a class="navbar-brand" href="#">
               <img src="images/logo2.jpeg" class="img" alt="" >
                </a>
       
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
      </div>
      <div class="row">
          <br>
          <br>
          <br>
          <br>
      </div>
            <h3 class="text-center text-danger font-weight-bold" style="font-family:'Lato', sans-serif;">Admin Login</h3>
  
      <div class="row mt-5">

              <div class="col-4 offset-4">
           <form action="/admin" method="POST" >
              <label for="" class="bc" style="font-family:'Lato', sans-serif;">USER</label>
              <span><input type="text" name="user" placeholder="Enter Your Email" class="bv"></span>
              
              <label for="" class="bc" style="font-family:'Lato', sans-serif;">PASSWORD</label>
              <span> <input type="password" name="upass" placeholder="Enter Password " class="bv"></span>
              <br>
              <br>
             <button type="submit"  class="btn btn-outline-success font-weight-bold">LOGIN</button>
              <p class="text-danger">Note This Page Only Belongs To Adming OF this Web</p>
             </form>
              </div>
          </div>
      </div>
  </div>  
</body>
</html>