<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
   
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="images/logo2.jpeg" type="image/x-icon">
  <title>result</title>
</head>
<body id="fg">
    <form action="/result" method="POST">
    <div style="background-color: black;">
    <h1 class="text-center text-white"></h1>
   </div>
    <br>
    <div style="background-color: black;">
    <h3 class="text-white text-center font-weight-bold">Please confirm your submission. Press the button below</h3>
    <span><button type="submit" class="btn btn-outline-warning text-center" style="margin-left: 45%;">See Your Score</button></span>
    </div>
    <br>
<div style="background-color:black">
    <h3 class="text-center text-white font-weight-bold">YOUR SCORE IS: {{percent}}</h3>
    </div>
    <br>
    <div style="background-color: black;">
    <h4 class="text-center text-white font-weight-bold">Our team will evaluate your answers and contact you accordingly</h4>
    </div>
    <br>
    <div style="background-color: black;">
    <h5 class="text-center text-dark font-weight-bold"></h5>
</div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12 hhs">
                </figure>
            </div>
        </div>
    </div>
    </form>
</body>
</html>