<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

   </head>
<body>
    <section class="serviceoffers" id="serviceid">
<div class="container headings text-center">
    <h1 class="text-center font-weight-bold lkk" style="font-family:'Lato', sans-serif;">ABOUT US</h1>
</div>
<div class="container" style="background: #f7f7f9;">
    <div class="row">
        <div class="col-lg-6 col-10 offset-1 offset-lg-0">
          <h2 class="text-center text-warning">ABOUT US</h2>
          <p>Misfit Brigands, Scurvy Rapscallions, and Beatnik Scallywags. A rogue crew of grassroots activists committed to The People. The strategy that is picked absolutely does not matter to us because we do not believe there is one correct path. We fight on all fronts supporting leftist candidates whether they’re running for the Democratic Party, a Minority Party, or as an Independent. We also support and promote mutual aid efforts such as striking workers, direct action such as ballot initiatives, and most importantly education. We must apply pressure from all angles in tandem. And we must do this together.</p>
          <button class="btn btn-dark jj "><a class="text-white" href="/apply">APPLY</a></button>
          <div id="sd">

          <a href="https://twitter.com/theragtagband"><i class="fa-2x fa fa-twitter-square" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/theragtagbandpolitics/"><i class="fa-2x fa fa-facebook-square" aria-hidden="true"></i></a>
          <a href="https://www.instagram.com/theragtagband/?hl=en"><i class="fa-2x fa fa-instagram" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="col-lg-6 col-10 offset-1 offset-lg-0 ljk">
             <img src="images/1535226967.png" class="img-fluid" alt="">
            </div>
    </div>
</div>

    </section>
</body>
</html>