<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <section class="contact" id="contactid">
        <div class="container headings">
            <h2 class="font-weight-bold text-white ">
            CONTACT DETAILS:
            </h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-12">
              <div class="card text-center">
                  <div class="card-body">
                      <h5>Find Us On Social Media Or Shoot Us An Email!</h5>
                      <br>
                      <ul>
                   <li>   
                   <strong class="mr-5 ml-5"> Facebook:</strong> <span class="ml-5"><a href="https://www.facebook.com/theragtagbandpolitics/">@theragtagbandpolitics</a></span><br>

                   </li>
                   <li>
                       <br>
                   </li>
                   <li>
                   <strong class="mr-5"> Instagram:</strong> <span class="ml-5"><a href="https://www.instagram.com/theragtagband/?hl=en">@theragtagband</a></span><br>

                   </li>
                   
                   <li>
                       <br>
                   </li>
                   <li>
                   <strong class="mr-5"> Twitter:</strong> <span class="ml-5"><a href="https://twitter.com/theragtagband">@theragtagband</a></span><br>

                   </li>
                   
                   <li>
                       <br>
                   </li>
                   <li>
                   <strong class="mr-5 ml-5"> Email:</strong> <span class="">theragtagband@protonmail.com</span><br>

                   </li>
                   
                   <li>
                       <br>
                   </li>
                 
                      </ul>

                  </div>
              </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>