<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <section class="donation" id="donateid">
        <div class="container headings ">
            <div class="row jumbotron">
                <div class="col-lg-12 col-12">
            <h2 class="font-weight-bold">
                FOR DONATIONS
            </h2>
            <div class="text-center " style="font-family: sans-serif;">
               <label for="">We are completely grassroots funded. If you would like to donate, please do so here:</label>
               <br><i class="fa-1x fa fa-credit-card-alt" aria-hidden="true"></i> <a href="https://cash.app/$TheRagtagBand">CashApp Payment Method</a>
            </div>
            <p>
                <strong> </strong>
            </p>
            <div class="text-center " style="font-family: sans-serif;">
               <label for="">We want to be completely transparent with our donors. You can see our monthly bank statements and receipts here:</label>
               <br><i class="fa-1x fa fa-credit-card-alt" aria-hidden="true"></i> <a href="https://drive.google.com/drive/folders/1RIUxC7IgnQBGvhh3r_z57uWBAsP9evNl?usp=sharing">Monthly Bank Statements</a>
            </div>
                </div>
            </div>

       
        </div>
    
    </section>
</body>
</html>