<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <footer class="footersection">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-6 col-12 footer-div">
              </div>
              <div class="col-lg-4 col-md-6 col-12 footer-div text-center">
                  <div>
                      <h3>NAVIGATION LINKS</h3>
                      <li><a href="#contactid">Contact</a></li>
                      <li><a href="#donateid">Donate</a></li>
                      <li><a href="/policy">Platform</a></li>
                      <li><a href="/apply">Apply Form</a></li>
                      <li><a href="/directaction">Direct Action</a></li>
                      <li><a href="/mutualaid">Mutual Aid</a></li>
                      </div>
              </div>
                  </div>
              </div>
          </div>
          <div class="mt-5 text-center">
            <p>TheRagtagBand 2021. All rights reserved</p>
          </div>
          <div class="scrolltop float-right">
              <i class="fa fa-arrow-up" onclick="topFunction()" id="myBtn"></i>
          </div>
      </div>
    </footer>
<script>
    myButton=document.getElementById("myBtn");
    window.onscroll=function() {scrollFunction()};
    function scrollFunction(){
        if(document.body.scrollTop > 20 || document.documentElement.scrollTop > 20){
            myButton.style.display = 'block';

        }else{
            myButton.style.display = 'none';
        }
    }
    function topFunction(){
        document.body.scrollTop=0;
        document.documentElement.scrollTop=0;
    }
</script>    
</body>
</html>
